<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300989016382-lpnde2lt9rhgah2ta0nnok343lffrc3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300989016382-lpnde2lt9rhgah2ta0nnok343lffrc3d</string>
	<key>API_KEY</key>
	<string>AIzaSyAP1jRXmJYpNx5_jQGq9Dfs4LthUHBkBz4</string>
	<key>GCM_SENDER_ID</key>
	<string>300989016382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rouk1eProjects.ChatApp2</string>
	<key>PROJECT_ID</key>
	<string>chatapp2-fdebb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp2-fdebb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300989016382:ios:01ccbf4cd4db2d7a58646f</string>
</dict>
</plist>